
    h1 {
        font-size: 36px;
    }
header{
    background-color:#000000;
}
body{
    background-color:#525252;
}
.nav-list{
    list-style-type: none;
    box-shadow:0px 0px 10px var(#0a0a0a);
    min-height: 150px;
    overflow: hidden;
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
    color:rgb(214, 214, 214);
    
}

.nav-item:first-child{
    margin-right:auto;
    margin-left:1rem;
}

.nav-item {
    list-style: none;
    margin-right: 1rem;
}

.nav-item a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    
}
.dropdown-menu a{
    color:#000000;
}


.nav-container{
    background: url(Images/HuntingTitleBanner.png);
    background-size: 100%;
    margin: 0;
    padding: 0;
    
    margin-bottom:10px;
}

.EthosBackground{
    background: url(Images/DogLakeBackground.png);
    background-size: 100%;
    margin: 0;
    padding: 0;
    min-height: 500px;
    margin-bottom:10px;
    font-size:24px;
    font-weight:400;
}
.carousel-inner{
    margin:16px;
    border-radius:2%;
}
.card{
    box-shadow:0px 0px 10px var(#5a5a5a);
    border-radius: 12px;
    min-height: 150px;
    min-width: 150px;
}

.card-title{
    font-size: 20px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    
    display:flex;
    justify-content: center;
    align-items:flex-end;
    margin-top:18px;
    
}
.card-body{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    font-size:18px;
}
.card-bottom{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    font-size:24px;
    margin: 8px;
    font-weight:500;
}
.btn-primary{
    background-color: rgb(85, 85, 85);
    color:rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}
.Sale_Card{
    
    box-shadow: 0px 0px 10px #000000;
    border-radius: 8px;
}

.row-sale-card{
    display:flex;
    justify-content: space-around;
    align-items:flex-end;
    margin:5%;
}
.mt-5{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.row-User-Review{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}
.User_Review_Cards {
    background-color:#f0f0f0;
    box-shadow: 0px 0px 10px #5a5a5a;
    border-radius: 12px;
    min-height: 150px;
    max-width: 30%;
    min-width: 25%;
    margin: 10px; /* Add some margin between cards */
}

@media (max-width: 1000px) {
    .User_Review_Cards {
        max-width: calc(100%); /* Adjust width to fit the container with some padding */
        margin-right: 0; /* Reset margin for the last card in a row */
    }
}